

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h2>Password Reset Request</h2>
    <h3>hi, {{ user.first_name }} </h3>
    <p>we recieved request to reset your password. CLICK BELOW LINK TO RESET YOUR PASSWORD : </p>
    <button><a href="{{ reset_url }}" target="_blank"> RESET PASSWORD</a></button>
    <p>if above button not working then use : {{reset_url}}</p>
    <p>if you did not request this change. you can  ignore this email</p>
    
</body>
</html>